<div *ngIf="!Islogin">
        <form class="login-form" #LoginForm="ngForm" action="javascript:void(0);">
            <h1>Login</h1>
            <div class="form-input-material">
                <input type="text" name="userName" id="Uname" placeholder="Username" [(ngModel)]="Username"
                    autocomplete="off" class="form-control-material" required />
                    <br>
                <label for="username">Username</label>
            </div>
            <div class="form-input-material">
                <input type="password" name="password" id="Pass" placeholder="Password" [(ngModel)]="password"
                    autocomplete="off" class="form-control-material" required />
                    <br>
                <label for="password">Password</label>
            </div>
            <button type="submit" class="btn btn-primary " (click)="Submit()">Login</button>
        </form>
        <button class="btn btn-primary btn-ghost" [routerLink]="['/Register']">Register User</button>
</div>
<div *ngIf="Islogin" class="row">
    <div class="col-11" style="left:10px;top:10px; position: relative;">
        <img src="{{user?.profileImg}}" style="border-radius: 50%; width: 80px;height: 80px;">
        <button class="update-profile" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-camera"></i></button>
        <p>{{user?.dateofBirth|date}} <br>
        <b>{{user?.name}}</b></p>
    </div>    
    <div class="col">
        <button class="btn-danger btn-logout" (click)="LogoutUser()">Logout</button>
    </div>

    <!-- modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div style="margin: 30px;">
                <label> Update Image : </label>
                <input type="file" name="update_profile" id="Dpupdate" (change)="handleFileSelect($event)">
                <img src="{{base64String}}" style="width: 80px;height: 100px;">
                <button (click)="UpdateProfile()">Update</button>
            </div>
          </div>
        </div>
      </div>
</div>


<!-- patient div -->
<div *ngIf="Islogin ">
  <button data-toggle="modal" data-target="#AppointmentModal">Book Appointment</button>

  <!-- Appointment Booking modal -->
  <div class="modal fade" id="AppointmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Appointment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div>
          <form #AppointmentForm="ngForm">
            Name:
            <input type="text" name="Name" id="Name" #Name="ngModel" [(ngModel)]="Appointment.Name"><br>
            Age:
            <input type="text" name="Age" id="Age" #Age="ngModel" [(ngModel)]="Appointment.Age"><br>
            Address:
            <input type="text" name="Address" id="Address" #Address="ngModel" [(ngModel)]="Appointment.Address"><br>
            Problem:
            <input type="text" name="Problem" id="Problem" #Problem="ngModel" [(ngModel)]="Appointment.Problem"><br>
            Department:
            <input type="text" name="Department" id="Department" #Department="ngModel" [(ngModel)]="Appointment.Department"><br>
            Doctor:
            <input type="text" name="Doctor" id="Doctor" #Doctor="ngModel" [(ngModel)]="Appointment.Doctor"><br>
            Fee:
            <input type="text" name="Fee" id="Fee" #Fee="ngModel" [(ngModel)]="Appointment.Fee"><br>
            <button (click)="AppointmentBooking(AppointmentForm)">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- doctor div -->
<div *ngIf="Islogin ">

</div>