<h2>Login Page</h2><br>
<div class="login">
    <form id="login" method="get" #LoginForm="ngForm">
        <label>
            User Name           
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="Username" [(ngModel)]="Username">
        <br>
        <label>
            Password
        </label>
        <input type="Password" name="Pass" id="Pass" placeholder="Password" [(ngModel)]="password">
        <br>
        <button (click)="Submit(LoginForm)">Login</button>
    </form>