<form class="form" #register="ngForm">
    <Label>Name:</Label>
    <input type="text" class="form-control" name="name" id="Name" #Name="ngModel" [(ngModel)]="registerData.name">
    <br>
    <label>Email:</label>
    <input type="email" class="form-control" name="email" id="email" #email="ngModel" [(ngModel)]="registerData.email">
    <br>
    <label>Phone:</label>
    <input type="text" class="form-control" name="phone" id="phone" maxlength="10" #phone="ngModel" [(ngModel)]="registerData.phone">
    <br>
    <label>Gender:</label>
    <select  class="form-control" name="gender" id="gender" #gender="ngModel" [(ngModel)]="registerData.gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
    <br>
    <label>DateofBirth:</label>
    <input type="datetime-local" class="form-control" name="dateofBirth" id="dateofBirth" #dateofBirth="ngModel"
        [(ngModel)]="registerData.dateofBirth">
    <br>
    <label>User type:</label>
    <select  class="form-control" name="usertype" id="usertype" 
    #usertype="ngModel" [(ngModel)]="registerData.usertype">
        <option value="Patient">Patient</option>
        <option value="Doctor">Doctor</option>
    </select>
    <br>
    <label>Address:</label>
    <input type="text" class="form-control" name="address" id="address" 
    #address="ngModel" [(ngModel)]="registerData.address">
    <br>
    <label>Occupation:</label>
    <input type="text" class="form-control" name="occupation" id="occupation" 
    #occupation="ngModel" [(ngModel)]="registerData.occupation">
    <br>
    <label>Profile Img:</label>
    <input type="file" class="form-control" name="profileImg" id="profileImg" 
    #profileImg="ngModel" [(ngModel)]="registerData.profileImg" (change)="handleFileSelect($event)">
    <br>
    <label>Username:</label>
    <input type="text" class="form-control" name="username" id="username" 
    username="ngModel" [(ngModel)]="registerData.username">
    <br>
    <label>Password:</label>
    <input type="password" class="form-control" name="password" id="password" 
    #password="ngModel" [(ngModel)]="registerData.password">
    <br>
    <button class="btn btn-primary" (click)="Register(register)">Register</button>
</form>

<button class="btn btn-primary btn-ghost" [routerLink]="['/Login']">Login User</button>
